@media(max-width: 1400px){
    .customers-card__wrapper{
        flex-direction: column;
        align-items: center;
    }

    .customer-card:first-child{
        margin-bottom: 3rem;
    }

    .main-part{
        flex-direction: column;
    }

    .footer-list{
        display: flex;
    }

    .footer-list__item{
        margin-right: 3rem;
    }
}

@media(max-width: 1200px){
    .about-us{
        flex-direction: column;
        padding-bottom: 20rem;
        &__content{
            margin-bottom: 13rem;
        }
    }

    .image{
        width: 25rem;
    }
}

@media(max-width: 900px){
    .banner{
        text-align: center;
    }

    .banner-heading{
        font-size: 4.7rem;
    }

    .banner-paragraph{
        font-size: 2.6rem;
    }

    .banner-button{
        font-size: 1.5rem;
        width: 16rem;
    }
}

@media(max-width: 750px){
    .customer-card{
        flex-direction: column;
        width: 20rem;
    }

    .customer-image{
        margin-left: 0;
    }

    .footer-list{
        display: block;
    }

    .creator-part{
        flex-direction: column;
        text-align: center;
    }

    .copyright-text{
        order: 1;
    }
}

@media(max-width: 500px){
    .navigation{
        width: 28rem;
        &-search__input{
            width: 20rem;
        }
    }

    .hotel-heading{
        font-size: 2rem;
        margin: auto 0;
    }

    .banner{
        height: 100%;
        margin-top: -10rem;
    }

    .banner-heading{
        font-size: 3rem;
    }

    .banner-paragraph{
        font-size: 2rem;
    }

    .about-us{
        padding-bottom: 15rem;
        &__heading{
            font-size: 2.5rem;
            text-align: center;
        }
        &__content{
            padding: 5rem;
        }
    }

    .sub-heading{
        font-size: 2rem;
        text-align: center;
    }

    .image{
        width: 13rem;
    }
    
    .common-heading{
        font-size: 2rem;
    }

    .small-underline{
        width: 5rem;
    }

    .big-underline{
        width: 12rem;
    }

    .room-card__heading{
        font-size: 1.5rem;
    }

    .room-price{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    .room-card__btn{
        width: 12rem;
        padding: 1rem 0.5rem;
        font-size: 1rem;
    }

    .customers-paragraph{
        font-size: 1.4rem;
        width: 80%;
    }

    .main-part{
        padding: 2rem;
    }

    .footer-input{
        width: 12rem;
    }

    .image-wrapper{
        width: 9rem;
    }
}
